<div class="consultation-row" (click)="onClick()">
  <div class="row-header">
    <div class="title-block">
      <app-typography [variant]="TypographyTypeEnum['body-l-semibold']" color="var(--slate-800)">
        {{ consultation().title || ('consultationRowItem.untitledConsultation' | translate) }}
      </app-typography>
      <span class="consultation-id">{{ getFormattedId() }}</span>
      @if (consultation().unread_count) {
        <span class="unread-badge">
          <span class="unread-dot"></span>
          {{ consultation().unread_count }} {{ (consultation().unread_count === 1 ? 'consultationRowItem.unreadMessage' : 'consultationRowItem.unreadMessages') | translate }}
        </span>
      }
    </div>
  </div>

  <div class="row-details">
    <app-label-value
      [label]="'consultationRowItem.patient' | translate"
      [value]="getBeneficiaryName()"
      [image]="consultation().beneficiary?.picture || ''"
      icon="svg/user.svg">
    </app-label-value>
    <app-label-value
      [label]="'consultationRowItem.createdBy' | translate"
      [value]="getCreatedByName()"
      [image]="consultation().created_by.picture || ''"
      icon="svg/user.svg">
    </app-label-value>
    <app-label-value
      [label]="'consultationRowItem.practitioner' | translate"
      [value]="getOwnerName()"
      [image]="consultation().owned_by?.picture || ''"
      icon="svg/user.svg">
    </app-label-value>
    <app-label-value
      [label]="'consultationRowItem.queue' | translate"
      [value]="consultation().group?.name || '-'">
    </app-label-value>
    <app-label-value
      [label]="'consultationRowItem.created' | translate"
      [value]="(consultation().created_at | date:'MMM d, y, h:mm a') || '-'">
    </app-label-value>
    @if (showClosedDate()) {
      <app-label-value
        [label]="'consultationRowItem.closed' | translate"
        [value]="(consultation().closed_at | date:'MMM d, y, h:mm a') || '-'">
      </app-label-value>
    }
    @if (showDescription()) {
      <app-label-value
        [label]="'consultationRowItem.description' | translate"
        [value]="consultation().description || '-'">
      </app-label-value>
    }
  </div>
</div>
