<div class="login-page">
  <div class="auth-card">
    <app-auth-branding />
    <div class="right-side">
      <div class="right-content">
        <form
          action=""
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="login-form">
          <app-typography
            color="var(--slate-800)"
            [variant]="TypographyTypeEnum['h6-semibold']"
            >{{ 'login.signIn' | translate }}</app-typography
          >
          <app-input
            [label]="'login.email' | translate"
            name="email"
            (focus)="validationService.resetInputValidation(form, 'email')"
            [invalid]="validationService.showError(form, 'email')"
            [invalidMessage]="getErrorMessage('email')"
            formControlName="email"
            type="email"
            [autocomplete]="'email'"
            [placeholder]="'login.emailPlaceholder' | translate"></app-input>
          <app-input
            [label]="'login.password' | translate"
            name="password"
            [invalid]="validationService.showError(form, 'password')"
            [invalidMessage]="getErrorMessage('password')"
            type="password"
            formControlName="password"
            [autocomplete]="'current-password'"
            [placeholder]="'login.passwordPlaceholder' | translate"></app-input>
          @if (errorMessage) {
          <app-error-message [message]="errorMessage"></app-error-message>
          }
          <div class="remember-me-wrapper">
            <app-typography
              [variant]="TypographyTypeEnum['body-semibold']"
              color="var(--primary-600)">
              <a [routerLink]="'/' + RoutePaths.AUTH + '/forgot-password'"
                >{{ 'login.forgotPassword' | translate }}</a
              >
            </app-typography>
          </div>

          <app-button
            [type]="ButtonTypeEnum.submit"
            [block]="true"
            [style]="ButtonStyleEnum.primary"
            [text]="'login.signIn' | translate"
            [loading]="loadingButton"></app-button>

          @if (openIdEnabled) {
          <div class="divider">
            <span>{{ 'login.or' | translate }}</span>
          </div>

          <app-button
            [type]="ButtonTypeEnum.button"
            [block]="true"
            [style]="ButtonStyleEnum.stroke"
            [text]="'login.loginWith' | translate: { provider: openIdProviderName }"
            (click)="onOpenIDLogin()"></app-button>
          }
        </form>
        <div class="auth-language-selector">
          <app-language-selector></app-language-selector>
        </div>
      </div>
    </div>
  </div>
</div>
