celery
channels
channels-redis
daphne
dj-rest-auth
Django
django-allauth
django-allauth[socialaccount]
django-appconf
django-celery-beat
django-celery-results
django-cors-headers
django-filter
django-import-export
django-location-field
# django-mfa2
django-modeltranslation
django-rest-swagger
django-timezone-field
django-tinymce
django-unfold
djangorestframework
djangorestframework-simplejwt
drf-spectacular
fcm-django
requests
websockets
python-dotenv
psycopg
itsdangerous
Pillow
factory-boy
livekit-api
django-clamd
django-constance
fhir.resources
django-storages
boto3
pywebpush
reportlab
django-tenants
tenant-schemas-celery
drf-spectacular-sidecar