<ion-content class="login-content" [scrollY]="false">
  <div class="auth-card">
    <app-auth-branding />
    <div class="right-side">
      <div class="right-content">
        <h2>{{ 'forgotPassword.title' | translate }}</h2>
        <p class="subtitle">{{ 'forgotPassword.subtitle' | translate }}</p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-form step-animate">
          <ion-item lines="full" class="input-item">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input
              type="email"
              [placeholder]="'forgotPassword.emailPlaceholder' | translate"
              formControlName="email">
            </ion-input>
          </ion-item>
          @if (forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched) {
          <ion-text color="danger" class="error-message">
            <span class="error-text">{{ 'forgotPassword.emailRequired' | translate }}</span>
          </ion-text>
          }

          <ion-button
            expand="block"
            shape="round"
            type="submit"
            [disabled]="forgotPasswordForm.invalid || isLoading"
            class="login-button">
            @if (isLoading) {
              <ion-spinner name="crescent"></ion-spinner>
              {{ 'forgotPassword.sending' | translate }}
            } @else {
              {{ 'forgotPassword.resetPassword' | translate }}
            }
          </ion-button>
        </form>

        <div class="register-link">
          <ion-text class="register-text" color="medium">
            {{ 'forgotPassword.rememberPassword' | translate }}
          </ion-text>
          <ion-text color="primary" (click)="goToLogin()" class="link-text">
            {{ 'common.signIn' | translate }}
          </ion-text>
        </div>

        <app-language-selector></app-language-selector>
      </div>
    </div>
  </div>
</ion-content>
