<div class="left-side">
  <div class="left-content">
    @if (configError) {
      <img src="assets/images/logo.svg" alt="Logo" class="logo-img" />
      <h1>HCW@Home</h1>
      <p class="error-text">The platform is temporarily unavailable. Please try again later.</p>
    } @else {
      @if (siteLogoWhite) {
        <img [src]="siteLogoWhite" alt="Logo" class="logo-img" />
      } @else {
        <img src="assets/images/logo.svg" alt="Logo" class="logo-img" />
      }
      @if (loginText) {
        <div class="login-text" [innerHTML]="loginText"></div>
      }
    }
  </div>
</div>
