<div class="forgot-password-page">
  <div class="auth-card">
    <app-auth-branding />
    <div class="right-side">
      <div class="right-content">
        <form action="" [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
          <app-typography color="var(--slate-800)" [variant]="TypographyTypeEnum['h6-semibold']">
            {{ 'forgotPassword.title' | translate }}
          </app-typography>

          <app-typography color="var(--slate-500)" [variant]="TypographyTypeEnum['body-regular']">
            {{ 'forgotPassword.subtitle' | translate }}
          </app-typography>

          <app-input [label]="'forgotPassword.email' | translate"
                     name="email"
                     (focus)="validationService.resetInputValidation(form,'email')"
                     [invalid]="validationService.showError(form, 'email')"
                     [invalidMessage]="getErrorMessage('email')"
                     formControlName="email" type="email" [autocomplete]="'email'"
                     [placeholder]="'forgotPassword.emailPlaceholder' | translate"></app-input>

          <app-button [type]="ButtonTypeEnum.submit" [block]="true" [style]="ButtonStyleEnum.primary"
                      [text]="'forgotPassword.resetPassword' | translate"
                      [loading]="loadingButton"></app-button>

          <div class="back-to-sign-in">
            <app-typography color="var(--slate-500)" [variant]="TypographyTypeEnum['body-regular']">
              {{ 'forgotPassword.rememberPassword' | translate }}
            </app-typography>
            <app-typography color="var(--primary-600)" [variant]="TypographyTypeEnum['body-semibold']">
              <a [routerLink]="'/' + RoutePaths.AUTH">{{ 'forgotPassword.signIn' | translate }}</a>
            </app-typography>
          </div>

          <div class="auth-language-selector">
            <app-language-selector></app-language-selector>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
