<div class="login-page">
  <div class="auth-card">
    <app-auth-branding />
    <div class="right-side">
      <div class="right-content">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="login-form">
          <app-typography
            color="var(--slate-800)"
            [variant]="TypographyTypeEnum['h6-semibold']">
            @if (mode === 'reset') {
              {{ 'resetPassword.resetTitle' | translate }}
            } @else {
              {{ 'resetPassword.setTitle' | translate }}
            }
          </app-typography>
          <app-input
            [label]="'resetPassword.password' | translate"
            type="password"
            name="new-password"
            (focus)="validationService.resetInputValidation(form, 'password')"
            [invalid]="validationService.showError(form, 'password')"
            [invalidMessage]="getFormErrorMessage()"
            formControlName="password"
            [autocomplete]="'new-password'"
            [placeholder]="'resetPassword.passwordPlaceholder' | translate">
          </app-input>
          <app-input
            [label]="'resetPassword.confirmPassword' | translate"
            type="password"
            name="confirm-password"
            (focus)="validationService.resetInputValidation(form, 'confirmPassword')"
            [invalid]="validationService.showError(form, 'confirmPassword')"
            [invalidMessage]="getFormErrorMessage()"
            formControlName="confirmPassword"
            [autocomplete]="'new-password'"
            [placeholder]="'resetPassword.passwordPlaceholder' | translate">
          </app-input>

          @if (errorMessage) {
            <app-error-message [message]="errorMessage"></app-error-message>
          }

          <app-button
            [type]="ButtonTypeEnum.submit"
            [block]="true"
            [style]="ButtonStyleEnum.primary"
            [text]="'resetPassword.continue' | translate"
            [loading]="loadingButton">
          </app-button>

          <div class="back-to-login">
            <app-typography
              [variant]="TypographyTypeEnum['body-semibold']"
              color="var(--primary-600)">
              <a [routerLink]="'/' + RoutePaths.AUTH">{{ 'resetPassword.backToLogin' | translate }}</a>
            </app-typography>
          </div>
        </form>
        <div class="auth-language-selector">
          <app-language-selector></app-language-selector>
        </div>
      </div>
    </div>
  </div>
</div>
