ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }
  
  h2 {
    margin-bottom: 24px;
    color: var(--ion-color-primary);
  }
  
  ion-item {
    margin-bottom: 16px;
  }