<app-modal
  [isOpen]="isOpen"
  [title]="modalTitle"
  size="xlarge"
  [closeOnBackdropClick]="false"
  (closed)="onClose()">
  <app-appointment-form
    [consultationId]="consultationId"
    [editingAppointment]="editingAppointment"
    [autoSave]="autoSave"
    [beneficiary]="beneficiary"
    [owner]="owner"
    [initialStartDate]="initialStartDate"
    [initialEndDate]="initialEndDate"
    [showActions]="true"
    (cancelled)="onClose()"
    (appointmentCreated)="onAppointmentCreated($event)"
    (appointmentUpdated)="onAppointmentUpdated($event)"
    (appointmentDataReady)="onAppointmentDataReady($event)">
  </app-appointment-form>
</app-modal>
