<app-header [pageTitle]="'profile.title' | translate" [showBackButton]="true"></app-header>

<ion-content class="profile-content">
  <div class="profile-header">
    <ion-card class="profile-card">
      <ion-card-content>
        <div class="avatar-section">
          <input
            #avatarFileInput
            type="file"
            accept="image/*"
            class="file-input-hidden"
            (change)="onAvatarFileSelected($event)"
          />
          <ion-avatar class="profile-avatar">
            @if (isUploadingAvatar) {
              <div class="avatar-placeholder">
                <ion-spinner name="crescent"></ion-spinner>
              </div>
            } @else if (currentUser && currentUser.picture) {
              <img [src]="currentUser.picture" [alt]="currentUser.first_name">
            } @else {
              <div class="avatar-placeholder">{{ getInitials() }}</div>
            }
          </ion-avatar>
          <ion-button size="small" fill="clear" class="edit-photo-btn" (click)="openAvatarFilePicker()">
            <ion-icon name="camera-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="user-info">
          <ion-text class="user-name">
            {{ currentUser?.first_name }} {{ currentUser?.last_name }}
          </ion-text>
          <ion-text class="user-email" color="medium">
            {{ currentUser?.email }}
          </ion-text>
          @if (currentUser && currentUser.phone) {
            <ion-text class="user-phone" color="medium">
              {{ currentUser.phone }}
            </ion-text>
          }
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list class="menu-list">
    @for (item of profileMenuItems; track item.title) {
      <ion-item
        (click)="handleMenuItemClick(item)"
        [class.danger-item]="item.color === 'danger'">
        <ion-icon
          [name]="item.icon"
          [color]="item.color || 'primary'"
          slot="start">
        </ion-icon>
        <ion-label>
          <ion-text [color]="item.color">{{ item.title }}</ion-text>
        </ion-label>
        @if (item.badge) {
          <ion-text color="primary" slot="end">{{ item.badge }}</ion-text>
        }
        <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
      </ion-item>
    }
  </ion-list>

  <ion-modal [isOpen]="showEditModal" (didDismiss)="closeEditModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'profile.editProfile' | translate }}</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeEditModal()">{{ 'common.cancel' | translate }}</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="saveProfile()" [disabled]="isSaving" color="primary">
              @if (isSaving) {
                <ion-spinner name="crescent"></ion-spinner>
              } @else {
                <ion-text>{{ 'common.save' | translate }}</ion-text>
              }
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">{{ 'profile.firstName' | translate }}</ion-label>
            <ion-input
              [value]="currentUser?.first_name"
              type="text"
              [readonly]="true"
              class="readonly-input">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'profile.lastName' | translate }}</ion-label>
            <ion-input
              [value]="currentUser?.last_name"
              type="text"
              [readonly]="true"
              class="readonly-input">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'profile.emailLabel' | translate }}</ion-label>
            <ion-input
              [value]="currentUser?.email"
              type="email"
              [readonly]="true"
              class="readonly-input">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'profile.phoneNumber' | translate }}</ion-label>
            <ion-input
              [(ngModel)]="editedUser.mobile_phone_number"
              type="tel"
              [placeholder]="'profile.phonePlaceholder' | translate">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'profile.communicationMethod' | translate }}</ion-label>
            <ion-select [(ngModel)]="editedUser.communication_method" [placeholder]="'profile.selectMethod' | translate">
              <ion-select-option value="email">{{ 'profile.commEmail' | translate }}</ion-select-option>
              <ion-select-option value="sms">{{ 'profile.commSms' | translate }}</ion-select-option>
              <ion-select-option value="whatsapp">{{ 'profile.commWhatsApp' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'profile.preferredLanguage' | translate }}</ion-label>
            <ion-select [(ngModel)]="editedUser.preferred_language" [placeholder]="'profile.selectLanguage' | translate">
              @for (lang of availableLanguages(); track lang.code) {
                <ion-select-option [value]="lang.code">{{ lang.nativeName }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'profile.timezone' | translate }}</ion-label>
            <ion-select [(ngModel)]="editedUser.timezone" [placeholder]="'profile.selectTimezone' | translate">
              @for (tz of timezones; track tz) {
                <ion-select-option [value]="tz">{{ tz }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<app-footer></app-footer>
