<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header-content">
      <div class="header-left">
        @if (showBackButton) {
          <ion-back-button
            [defaultHref]="backHref"
            text=""
            icon="arrow-back-outline"
            class="back-btn"
          ></ion-back-button>
        }
        @if (pageTitle) {
          <h1 class="page-title">{{ pageTitle }}</h1>
        } @else {
          <div class="logo">
            @if (siteLogo()) {
              <img [src]="siteLogo()" alt="Logo" class="logo-img" />
            } @else {
              <img src="assets/images/logo-color.svg" alt="Logo" class="logo-img" />
              <span class="logo-text">{{ branding() }}</span>
            }
          </div>
        }
      </div>
      <ion-buttons slot="end">
        <ion-button class="notification-btn" (click)="goToNotifications()">
          <ion-icon name="notifications-outline"></ion-icon>
          @if (unreadNotificationCount() > 0) {
            <span class="notification-badge">{{
              unreadNotificationCount() > 9 ? "9+" : unreadNotificationCount()
            }}</span>
          }
        </ion-button>
        <button class="user-profile-btn" (click)="goToProfile()">
          <span class="user-name">{{ getUserFullName() }}</span>
          <div class="user-avatar">
            @if (getUserPicture()) {
              <img [src]="getUserPicture()" alt="" class="avatar-image" />
            } @else {
              {{ getUserInitials() }}
            }
          </div>
        </button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
