<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <div class="logo-section">
      @if (siteLogo) {
      <img
        [src]="siteLogo"
        alt="Logo"
        class="logo-custom-img"
        [class.logo-full-width]="!isCollapsed" />
      } @else {
      <app-svg
        src="svg/logo.svg"
        [svgStyle]="{'width.px': isCollapsed ? 40 : 44, 'height.px': isCollapsed ? 40 : 44}">
      </app-svg>
      } @if (!isCollapsed && !siteLogo) {
      <div class="logo-text">
        <app-typography
          [variant]="TypographyTypeEnum['body-l-bold']"
          color="var(--slate-800)">
          {{ branding }}
        </app-typography>
        <app-typography
          [variant]="TypographyTypeEnum['body-xs-medium']"
          color="var(--slate-500)">
          {{ 'sidebar.practitioner' | translate }}
        </app-typography>
      </div>
      }
    </div>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <app-svg
        [src]="isCollapsed ? 'svg/chevron-right.svg' : 'svg/chevron-left.svg'"
        [svgStyle]="{'width.px': 16, 'height.px': 16, 'color': 'var(--slate-400)'}">
      </app-svg>
    </button>
  </div>

  <div class="sidebar-main">
    @for (menuItem of menuItems; track menuItem.path) {
    <a
      class="menu-item"
      [routerLink]="'/' + RoutePaths.USER + menuItem.path"
      [routerLinkActive]="'active'"
      [title]="isCollapsed ? (menuItem.name | translate) : ''">
      <div class="menu-item-content">
        <app-svg
          class="menu-icon"
          [src]="'svg/' + menuItem.icon"
          [svgStyle]="{
              'width.px': 24,
              'height.px': 24,
              'color': router.isActive('/' + RoutePaths.USER + menuItem.path, {
                paths: 'exact',
                matrixParams: 'ignored',
                queryParams: 'ignored',
                fragment: 'ignored',
              })
                ? 'var(--primary-500)'
                : 'var(--slate-400)'
            }">
        </app-svg>
        @if (!isCollapsed) {
        <div class="menu-text">
          <app-typography
            class="menu-label"
            [variant]="TypographyTypeEnum['body-s-medium']">
            {{ menuItem.name | translate }}
          </app-typography>
          @if (menuItem.subtitle) {
          <app-typography
            class="menu-subtitle"
            [variant]="TypographyTypeEnum['body-xs-medium']"
            color="var(--slate-400)">
            {{ menuItem.subtitle | translate }}
          </app-typography>
          }
        </div>
        }
      </div>
    </a>
    }
  </div>
</div>
